body {
	background-color:#FFFFE0;
}

#wrap {
  margin: 0 auto;
  width:1300px;
}

#booklist {
  margin: 0 auto;
  width:90%;
  overflow:auto;
  overflow-y:hidden;
}

h1 {
  text-align:center;
  font-family:arial;
  font-size:55px;
  margin:10px 0;
}

h2 {
  text-align:center;
  font-family:arial;
  font-size:25px;
  padding:0 150px;
}

.book{
  height:275px;
  width:195px;
  border: 2px solid black;
  float:left;
  margin:10px 48px;
  padding:5px;
}

.book:hover{
  background-color:orange;
}

.book > p{
  text-align:center;
  line-height:1.2em;
}

hr{
  padding: 0;
  border: none;
  border-top: medium double #333;
}

