 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img height=300 src="img/profile_2.png" alt="" style="margin-top:6rem; margin-bottom:3rem">
                    <h2>Alex Williams</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="small">I'm a postdoc in Statistics at Stanford University working with <a href="https://statistics.stanford.edu/people/scott-linderman" target="_blank">Scott Linderman</a>'s research group on developing neural data analysis methods. My work is currently supported by the <a href="https://neuroscience.stanford.edu/" target="_blank">Wu Tsai Neurosciences Institute</a> and the NIH BRAIN initiative (1F32MH122998-01).</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="small">
                    In 2019, I received a PhD in Neuroscience from Stanford with supervision from <a href="https://ganguli-gang.stanford.edu/" target="_blank">Surya Ganguli</a>, and funding through the <a href="http://www.krellinst.org/csgf/">DOE Computational Science Graduate Fellowship Program</a>.
                    Before that, I worked one year at the Salk Institute with <a href="http://cnl.salk.edu/" target="_blank">Terry Sejnowski</a> and two years at Brandeis University with <a href="http://blogs.brandeis.edu/marderlab/" target="_blank">Eve Marder</a> and <a href="http://olearylab.org/" target="_blank">Tim O'Leary</a>. I got my undergrad degree at Bowdoin College, advised by <a href="https://www.bowdoin.edu/faculty/p/pdickins/" target="_blank">Patsy Dickinson</a>.
                </div>
            </div>
        </div>
    </section>
