 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>About</h2>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="small">I'm a PhD student in Neuroscience at Stanford University interested in a broad class of theoretical problems related to biology. I work in <a href="https://ganguli-gang.stanford.edu/" target="_blank">Surya Ganguli</a>'s group, and am funded through the <a href="http://www.krellinst.org/csgf/">DOE Computational Science Graduate Fellowship Program</a>.</p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="small">I previously worked at the Salk Institute (with <a href="http://cnl.salk.edu/" target="_blank">Terry Sejnowski</a>) and Brandeis University (with <a href="http://blogs.brandeis.edu/marderlab/" target="_blank">Eve Marder</a> and <a href="http://olearylab.org/" target="_blank">Tim O'Leary</a>). I was an undergraduate at Bowdoin College, where I worked with <a href="https://www.bowdoin.edu/faculty/p/pdickins/" target="_blank">Patsy Dickinson</a>.
                </div>
            </div>
        </div>
    </section>
