 <!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <img height=300 src="img/profile_2.png" alt="" style="margin-top:6rem; margin-bottom:3rem">
                    <h2>Alex Williams</h2>
                    <center style="padding-top: .5em; font-family: 'Courier New', monospace; font-size: 17px;">
                    <b>email:</b>
                    <a href="mailto:ahwillia@stanford.edu">alex.h.williams@nyu.edu</a>
                    </center>
                    <hr>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p class="small">
                    Since January 2022, I am an Assistant Professor at NYU (Center for Neural Science) and the Flatiron Institute (Center for Computational Neuroscience).
                    Please visit lab's website &mdash; <a href="http://neurostatslab.org/">http://neurostatslab.org/</a> &mdash; for up-to-date information.
                    </p>
                </div>
            </div>
        </div>
    </section>
